{% extends "base.html" %}

{% block content %}
{% include 'messages.html' %}
<div class="bg-success p-2 text-dark bg-opacity-25">
<h1 align='center'> Event Dashboard </h1>
<br><br><br><br><br>
<div class="bg-success p-2 text-dark bg-opacity-25">
  <br>
<div class="container px-4">
<form align= "center" class="row g-3" action="Dashboard.html" method="POST">
  {% csrf_token %}
<div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Event ID</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="eventID" id="staticEmail" required>
    </div>
</div>
<div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-5">
      <input type="password" name="password" class="form-control" id="inputPassword" required>
    </div>
</div>
<div class="col-12">
    <button type="submit" class="btn btn-primary" value="POST"/>Get Details</button>
</div>
</form>
</div>
</div>
</div>
<script>
$(document).ready(function() {
  function disableBack() { window.history.forward() }

  window.onload = disableBack();
  window.onpageshow = function(evt) { if (evt.persisted) disableBack() }
});
</script>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Email</th>
        <th scope="col">Event ID</th>
        <th scope="col">Contact No.</th>
        <th scope="col">Registration type</th>
        <th scope="col">No. of participants</th>
      </tr>
    </thead>
    <tbody>   
  {% for p in plist %}
      <tr>
        <th scope="row">{{p.id}}</th>
        <td>{{p.name}}</td>
        <td>{{p.Email}}</td>
        <td>{{p.eventID}}</td>
        <td>{{p.contact}}</td>
        <td>{{p.inlineRadio1}}</td>
        <td>{{p.pno}}</td>
      </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endblock content %}