    {% extends 'base.html' %}
    
    {% block content %}
    {% include 'messages.html' %}
    <div class="bg-success p-2 text-dark bg-opacity-25">
    <h1 align="center">Event Manager</h1>
    <br><br><br><br>
    <div class="container">
        <div class="row">
          <div class="col align-self-start">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Event Registration</h5>
                  <p class="card-text">Organise an event with us, it can be anything from seminars to parties...</p>
                  <a href="Eventreg.html" class="btn btn-primary stretched-link">Register</a>
                </div>
            </div>
          </div>
          <div class="col align-self-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Participant Registration</h5>
                  <p class="card-text">We help you participate in your favorite events...</p>
                  <a href="participantreg.html" class="btn btn-primary stretched-link">Register</a>
                </div>
            </div>
          </div>
          <div class="col align-self-end">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Dashboard</h5>
                  <p class="card-text">Never miss an update about your events :)</p>
                  <a href="Dashboard.html" class="btn btn-primary stretched-link">Visit</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-success p-2 text-dark bg-opacity-50"><br><br></div>
    <div class="bg-success p-2 text-dark bg-opacity-50"><br><br></div>
    <div class="bg-success p-2 text-dark bg-opacity-75"><br><br></div>
    <div class="bg-success p-2 text-dark bg-opacity-75"><br><br></div>
    <div class="bg-success p-2 text-dark"><br><br></div>
    <div class="bg-success p-2 text-dark"><br><br></div>
    
    {% endblock content %}
       
