{% extends 'base.html' %}

{% block content %}
{% include 'messages.html' %}
<div class="bg-success p-2 text-dark bg-opacity-25">
<h1 align='center'> Participant Registration </h1>
<a href="home.html"><button type="button" class="btn btn-primary btn-sm"> <-- Return to Home Page </button></a><br><br><br>
<div class="bg-success p-2 text-dark bg-opacity-25">
<div class="container px-4">
<form align= "center" class="row g-3" action="participantreg.html" method="POST">
  {% csrf_token %}
<div class="col-md-6">
  <label for="name" class="form-label">Name</label>
  <input type="text" class="form-control" id="name" name="name" required>
</div>
<div class="col-md-6">
  <label for="Email" class="form-label">Email ID</label>
  <input type="email" class="form-control" id="Email" name="Email" required>
</div>
<div class="col-md-6">
  <label for="contact" class="form-label">Contact No.:</label>
  <input type="text" class="form-control" id="contact" name="contact" required>
</div>
<br>
<br>
<div>
    Event:  
{% for e in events %} 
<div class="form-check form-check-inline">
  <label class="form-check-label"><input class="form-check-input" type="checkbox" name="inlineCheckbox1" value={{e.id}} id="test">
  {{e.Eventname}}</label>
</div>
{% endfor %}
<br>
<br>

<div>
  <label>
      <input class="form-check-input" type="radio" name="colorRadio1" 
             value="individual"> Individual</label>
  <label>
      <input class="form-check-input" type="radio" name="colorRadio1" 
             value="Group" checked="checked"> Group</label>
</div>
<br>
<div class="Group selectt">
  <div class="form-check form-check-inline">
    <label for="pno" class="form-label">No. of participants</label>
    <input id="pno" name="pno" class="form-control" type="number" placeholder="2" min="2">
  </div>
</div>

<script type="text/javascript">
  $("input:checkbox").on('click', function() {
  // in the handler, 'this' refers to the box clicked on
  var $box = $(this);
  if ($box.is(":checked")) {
    // the name of the box is retrieved using the .attr() method
    // as it is assumed and expected to be immutable
    var group = "input:checkbox[name='" + $box.attr("name") + "']";
    // the checked state of the group/box on the other hand will change
    // and the current value is retrieved using .prop() method
    $(group).prop("checked", false);
    $box.prop("checked", true);
  } else {
    $box.prop("checked", false);
  }
});
  $(document).ready(function() {
      $('input[type="radio"]').click(function() {
          var inputValue = $(this).attr("value");
          var targetBox = $("." + inputValue);
          $(".selectt").not(targetBox).hide();
          $(targetBox).show();
      });
  });
</script>


<br>
<br>
<div class="col-12">
  <button type="submit" class="btn btn-primary" value="POST"/>Submit</button>
</div>
</form>
</div>
</div>
</div>

{% endblock content %}