{% extends "base.html" %}

{% block content %}
<div class="bg-success p-2 text-dark bg-opacity-25">
<h1 align='center'> Event Dashboard </h1>
<br><br><br><br><br>
<div class="bg-success p-2 text-dark bg-opacity-25">
  <br>
<div class="container px-4">
<form class="row g-3" action="Dashboard.html" method="POST">
<div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-5">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" placeholder="email@example.com">
    </div>
</div>
<div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="inputPassword">
    </div>
</div>
<div class="col-12">
    <button type="submit" class="btn btn-primary">Get Details</button>
</div>
</form>
</div>
</div>
</div>
{% endblock content %}